//Styles go here

#app {
  .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
  }

  ul, .mdl-list__item {
    padding: 0;
  }
  .mdl-layout__container {
    height: 56px;
  }

  .mdl-textfield{
    width: 100%;
  }

  li {
      list-style-type: none;
  }

  .MainScreen {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .Form {
    &-container {
      padding: 50px;
    }
    &-text {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
    }
    &-textInputBox{
      display: block;
      margin-bottom: -20px;
      width: 500px;
    }
    &-dateLabel {
      margin-right: 10px;
    }
    &-dateInput {
      margin-top: 20px;
    }
    &-title{
      font-weight: bold;
      font-size: 18px;
    }
    &-label {
      padding: 10px 0;
      height: 16px;
    }
    &-label--under {
      margin-top: 20px;
    }
    &-radioContainer {
      margin-top: 15px;
    }
    &-radioOptions {
      margin-top: 10px;
      label {
        padding-right: 10px;
      }
    }
    &-expensesTable {
      margin-top: 50px;
    }
  }
  .Firm-container {
    .Firm-textInput {
      width: 300px;
      display: inline-block;
      margin: 0 20px 0 0;
    }
    .Form-dateInput {
      display: inline-block;
      margin: 0 10px;
    }
  }
  .Checkbox-container {
    label {
      height: 100%;
      display: block;
      float: left; 
      clear: left; 
      width: auto;
    }
    &--singleOption {
      height: 24px;
    }
    &--tableOption {
      height: 24px;
      text-align: center;
      padding-left: 45px;
      label {
        padding: 0;
      }
    }
    &--twoOption {
      height: 50px;
    }
    &--fourOption {
      margin-top: 10px;
      height: 120px;
    }
    &--fiveOption {
      margin-top: 10px;
      height: 120px;
    }
    &--first {
      margin-top: 10px;
    }
  }
  .Note {
    &-container {
      .Note-list {
        margin: 0;
      }
      .mdl-list__item {
        font-size: 14px;
      }
    }
  }
  .Table {
    &-textInputBox {
      height: 37px;
      width: 100%;
      margin-bottom: -1px;
      // Remove 20 padding and keeping style functionality.
      .mdl-textfield {
        padding: 0
      }
      .mdl-textfield__label:after {
        bottom: 0px;
      }
      input {
        height: 37px;
        padding: 0;
        border-bottom: none;
      }
    }
    table {
      width: 1000px;
      border-collapse: collapse;
    }
    td {
      text-align: center;
      vertical-align: bottom;
    }
    th, td {
      border-bottom: 1px solid rgba(0,0,0,.12);
    }
  }
}